/* ===========================================
   COMPONENTS.CSS
   =========================================== */

/* HERO */

.hero{

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 8px 20px rgba(0,0,0,.12);

}

/* HERO IMAGE */

.hero img{

    display:block;

    width:100%;

    height:auto;

}

/* HERO BUTTON */

.hero-action{

    padding:40px;

    text-align:center;

}

.button{

    display:inline-block;

    padding:18px 45px;

    background:#005BAC;

    color:white;

    text-decoration:none;

    font-size:22px;

    font-weight:bold;

    border-radius:10px;

    transition:.3s;

}

.button:hover{

    background:#003f7d;

}
