/* Components */
.hero{

background:white;

padding:50px;

border-radius:12px;

max-width:900px;

margin:auto;

text-align:center;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.button{

display:inline-block;

margin-top:30px;

padding:15px 35px;

background:#005BAC;

color:white;

text-decoration:none;

border-radius:8px;

font-weight:bold;

}
