/* Layout Website */
/* ===== HEADER ===== */

.main-header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 60px;

background:#005BAC;

color:white;

}

.logo h1{

font-size:36px;

margin-bottom:5px;

}

.logo span{

font-size:18px;

}

.main-header nav{

display:flex;

gap:30px;

}

.main-header nav a{

color:white;

text-decoration:none;

font-weight:600;

transition:.3s;

}

.main-header nav a:hover{

color:#FFD54A;

}
