/* ===========================================
   HEADER
=========================================== */

.main-header{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 60px;

    background:#005BAC;

    color:#fff;

}

.header-left{

    display:flex;
    align-items:center;
    gap:22px;

}

.logo-bbpvp img{

    width:70px;
    height:auto;

}

.header-title h1{

    margin:0;

    font-size:34px;

    font-weight:700;

}

.header-title p{

    margin-top:5px;

    font-size:16px;

    opacity:.9;

}

.divider{

    width:2px;
    height:70px;

    background:rgba(255,255,255,.35);

}

.header-brand{

    display:flex;
    align-items:center;
    gap:15px;

}

.header-brand img{

    width:55px;
    height:auto;

}

.header-brand h2{

    margin:0;

    font-size:34px;

}

.header-brand span{

    font-size:18px;

}

/* ==========================
   MENU
========================== */

.main-header nav{

    display:flex;
    gap:45px;

}

.main-header nav a{

    color:white;

    text-decoration:none;

    font-size:20px;

    font-weight:600;

    transition:.25s;

}

.main-header nav a:hover{

    color:#FFD54A;

}
